<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<filter>
		<filter-name>EncodeFilter</filter-name>
		<filter-class>com.kongbig.web.filter.EncodeFilter</filter-class>
		<init-param>
			<param-name>code</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>EncodeFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>P3PFilter</filter-name>
		<filter-class>com.kongbig.web.servlet.P3PFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>P3PFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>OAuthServlet</servlet-name>
		<servlet-class>com.kongbig.web.servlet.OAuthServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/sso/oauth</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>com.kongbig.web.servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OAuthServlet</servlet-name>
		<url-pattern>/sso/logout</url-pattern>
	</servlet-mapping>

	<display-name>Archetype Created Web Application</display-name>
</web-app>